doctype html
html(lang="en")
  head
    title= 'Tanner Goods'
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
    link(rel='stylesheet', href='style.css', type='text/css' )
  body
    //- include component/header.pug
    include component/section1.pug
    include component/section2.pug
    include component/section3.pug
    include component/collection.pug
    include component/footer.pug