- var collectionTitle = "Tanner Collections"
- var collectionSubTitle = "NAVY SALT & PEPPER";
- var readMore = "read more >";
.collection
  .collection-wrapper 
    .collection-title 
      h2 #{collectionTitle}
    .collection-subTitle 
      .collection-subTitle_square 
      .collection-subTitle_box
        p #{collectionSubTitle}
    .collection-box 
      .collection-box_number 
        p 01
        .collection-box_number--square
      .collection-box_row 
        .collection-box_row--columnL 
          img(src="./assets/images/collection1.png", alt="")
        .collection-box_row--columnR
          .collection-box_row--columnR__square 
          .collection-box_row--columnR__title 
            h3 NOMAD DUFFLE
          .collection-box_row--columnR__content 
            p This bag can be carried by hand, worn as a backpack or slung over a shoulder depending on your traveling needs
          .collection-box_row--columnR__readmore
            p #{readMore}
      
  .collection-productionSlide
    ul.collection-productionSlide_ul
      li.collection-productionSlide_ul--li
        img(src="./assets/images/thumb1.png", alt="")
      li.collection-productionSlide_ul--li
        img(src="./assets/images/thumb2.png", alt="")
      li.collection-productionSlide_ul--li
        img(src="./assets/images/thumb3.png", alt="")
      li.collection-productionSlide_ul--li
        img(src="./assets/images/thumb4.png", alt="")
      li.collection-productionSlide_ul--li
        img(src="./assets/images/thumb5.png", alt="")
      li.collection-productionSlide_ul--li
        img(src="./assets/images/thumb6.png", alt="")
      li.collection-productionSlide_ul--li
        img(src="./assets/images/thumb1.png", alt="")
      li.collection-productionSlide_ul--li
        img(src="./assets/images/thumb1.png", alt="")
      
