- var submit = ">";
- var signup = "Sign up for new TANNER GOODS content, updates, surveys & offers.";

footer
  .footer-wrap 
    .footer-brand
       .footer-brand_logo 
        img(src="./assets/images/logo.png", alt="")
       .footer-brand_copyright
        p © tanner goods portland ore 2016
    .footer-menu 
      .footer-menu_nav 
        ul.footer-menu_nav--ul 
          li.footer-menu_nav--ul__li
            a(href="#") Finda
          li.footer-menu_nav--ul__li
            a(href="#") Store 
          li.footer-menu_nav--ul__li
            a(href="#") Sizing 
          li.footer-menu_nav--ul__li
            a(href="#") Care 
          li.footer-menu_nav--ul__li
            a(href="#") Watch
      .footer-menu_social
    .footer-address 
      p.footer-address_f Sebazzo Ltd, Unit 3F2
      p.footer-address_n Zetland House 5-25
        br
        | Scrutton Street 
        br
        | London EC2A 4HJ
    .footer-mail
      h3 Email Newsletters
      p #{signup}
      .footer-mail_box 
        input(type="text")
        button(type="submit") #{submit}
