
<footer>
  <div class="footer-wrap"> 
    <div class="footer-brand">
      <div class="footer-brand_logo"> <img src="./assets/images/logo.png" alt=""/></div>
      <div class="footer-brand_copyright">
        <p>© tanner goods portland ore 2016</p>
      </div>
    </div>
    <div class="footer-menu"> 
      <div class="footer-menu_nav"> 
        <ul class="footer-menu_nav--ul"> 
          <li class="footer-menu_nav--ul__li"><a href="#">Finda</a></li>
          <li class="footer-menu_nav--ul__li"><a href="#">Store </a></li>
          <li class="footer-menu_nav--ul__li"><a href="#">Sizing </a></li>
          <li class="footer-menu_nav--ul__li"><a href="#">Care </a></li>
          <li class="footer-menu_nav--ul__li"><a href="#">Watch</a></li>
        </ul>
      </div>
      <div class="footer-menu_social"></div>
    </div>
    <div class="footer-address"> 
      <p class="footer-address_f">Sebazzo Ltd, Unit 3F2</p>
      <p class="footer-address_n">Zetland House 5-25<br/>Scrutton Street <br/>London EC2A 4HJ</p>
    </div>
    <div class="footer-mail">
      <h3>Email Newsletters</h3>
      <p>Sign up for new TANNER GOODS content, updates, surveys &amp; offers.</p>
      <div class="footer-mail_box"> 
        <input type="text"/>
        <button type="submit">&gt;</button>
      </div>
    </div>
  </div>
</footer>