
<div class="section1">
  <div class="section1-control">
    <div class="section1-control_logo"> 
      <div class="section1-control_logo--box"><a href="#"> <img src="./assets/images/logo.png" alt="logo"/></a></div>
    </div>
    <div class="section1-control_slide">
      <div class="section1-control_slide--btnUp"><img src="./assets/images/icon-up.png" alt="icon up"/></div>
      <div class="section1-control_slide--btnDown"><img src="./assets/images/icon-down.png" alt="icon up"/></div>
    </div><span class="section1-heightBar"> </span>
    <ul class="section1-ul">
      <li class="section1-ul_li"> 
        <p class="section1-ul_li--circle"><span class="section1-ul_li--spanBig">01</span></p>
      </li>
      <li class="section1-ul_li"> 
        <p class="section1-ul_li--nonecircle"><span class="section1-ul_li--span">02</span></p>
      </li>
      <li class="section1-ul_li"> 
        <p class="section1-ul_li--nonecircle"><span class="section1-ul_li--span">03</span></p>
      </li>
      <li class="section1-ul_li"> 
        <p class="section1-ul_li--nonecircle"> <span class="section1-ul_li--span">04</span></p>
      </li>
      <li class="section1-ul_li"> 
        <p class="section1-ul_li--nonecircle"> <span class="section1-ul_li--span">05</span></p>
      </li>
    </ul>
  </div>
  <div class="section1-slogan">
    <div class="section1-slogan_box">
      <p class="section1-slogan_box--p">Designed for utility</p>
      <h2 class="section1-slogan_box--h2"> <span class="section1-slogan_box--h2__span">Navy Salt &amp; Pepper</span></h2>
      <button class="section1-slogan_box--button"><span class="section1-slogan_box--button__span"></span>
        <p class="section1-slogan_box--button__p">Gear UP</p><img class="section1-slogan_box--button__img" src="./assets/images/icon-next.png" alt="next"/>
      </button>
    </div>
  </div>
  <div class="section1-banner">
    <div class="section1-banner_img"></div>
  </div>
</div>