- var sectionTitle = "VOYAGER DAYPACK"
- var sectionSubTitle = "NAVY SALT & PEPPER";
- var sectionContent = "Whether you’re stomping around outdoors or traversing the city, our Voyager Daypack was designed to be adaptable in all environments. Compact, lightweight and a comfortable for people of all sizes.this silhouette is versatile enough to fit just about anyone’s daily routine. "

.section2
  .section2-wrapper
    .section2-banner
      .section2-banner_img
        .section2-banner_img--title 
          h2.section2-banner_img--title__h2 #{sectionTitle}
          p.section2-banner_img--title__p #{sectionSubTitle}

    .section2-content
      .section2-content_box
        .section2-content_box--space
        p #{sectionContent}
        .section2-content_box--icon
          img(src="./assets/images/icon-scroll-down.png", alt="")
    