- var headTitle = "Designed for utility"
- var Title = "Navy Salt & Pepper";
- var button1 = "Gear UP";
.section1
  //- .section1-navbar
    //- ul.section1-navbar--ul 
    //-       li.fsection1-navbar--ul__li
    //-         a(href="#") navy salt 
    //-       li.section1-navbar--ul__li
    //-         a(href="#") voyager 
    //-       li.section1-navbar--ul__li
    //-         a(href="#") drifter 
    //-       li.section1-navbar--ul__li
    //-         a(href="#") collection 
    //-       li.section1-navbar--ul__li
    //-         a(href="#") contact
  .section1-control
    .section1-control_logo 
      .section1-control_logo--box
        a(href="#") 
          img(src="./assets/images/logo.png", alt="logo")
    .section1-control_slide
      .section1-control_slide--btnUp
        img(src="./assets/images/icon-up.png", alt="icon up")
      .section1-control_slide--btnDown
        img(src="./assets/images/icon-down.png", alt="icon up")
    span.section1-heightBar 
    ul.section1-ul
      li.section1-ul_li 
        p.section1-ul_li--circle
          span.section1-ul_li--spanBig 01
      li.section1-ul_li 
        p.section1-ul_li--nonecircle
          span.section1-ul_li--span 02
      li.section1-ul_li 
        p.section1-ul_li--nonecircle
          span.section1-ul_li--span 03
      li.section1-ul_li 
        p.section1-ul_li--nonecircle 
          span.section1-ul_li--span 04
      li.section1-ul_li 
        p.section1-ul_li--nonecircle 
          span.section1-ul_li--span 05
  .section1-slogan
    .section1-slogan_box
      p.section1-slogan_box--p #{headTitle}
      h2.section1-slogan_box--h2 
        span.section1-slogan_box--h2__span #{Title}
      button.section1-slogan_box--button
        span.section1-slogan_box--button__span
        p.section1-slogan_box--button__p #{button1}
        img.section1-slogan_box--button__img(src="./assets/images/icon-next.png", alt="next") 
      
  .section1-banner
    .section1-banner_img