
<div class="section3">
  <div class="section3-wrapper">
    <div class="section3-banner">
      <div class="section3-banner_img">
        <div class="section3-banner_img--title">
          <h2 class="section3-banner_img--title__h2">DRIFTER DOPP KIT</h2>
          <p class="section3-banner_img--title__p">NAVY SALT &amp; PEPPER</p>
        </div>
      </div>
    </div>
    <div class="section3-content">
      <div class="section3-content_box">
        <p>Whether you’re stomping around outdoors or traversing the city, our Voyager Daypack was designed to be adaptable in all environments. Compact, lightweight and a comfortable for people of all sizes.this silhouette is versatile enough to fit just about anyone’s daily routine. </p>
        <div class="section3-content_box--space"></div>
        <div class="section3-content_box--icon"><img src="./assets/images/icon-scroll-down.png" alt=""/></div>
      </div>
    </div>
  </div>
</div>