- var sectionTitle = "DRIFTER DOPP KIT"
- var sectionSubTitle = "NAVY SALT & PEPPER";
- var sectionContent = "Whether you’re stomping around outdoors or traversing the city, our Voyager Daypack was designed to be adaptable in all environments. Compact, lightweight and a comfortable for people of all sizes.this silhouette is versatile enough to fit just about anyone’s daily routine. "

.section3
  .section3-wrapper
    .section3-banner
      .section3-banner_img
        .section3-banner_img--title
          h2.section3-banner_img--title__h2 #{sectionTitle}
          p.section3-banner_img--title__p #{sectionSubTitle}

    .section3-content
      .section3-content_box
        p #{sectionContent}
        .section3-content_box--space
        .section3-content_box--icon
          img(src="./assets/images/icon-scroll-down.png", alt="")
    