
<div class="section2">
  <div class="section2-wrapper">
    <div class="section2-banner">
      <div class="section2-banner_img">
        <div class="section2-banner_img--title"> 
          <h2 class="section2-banner_img--title__h2">VOYAGER DAYPACK</h2>
          <p class="section2-banner_img--title__p">NAVY SALT &amp; PEPPER</p>
        </div>
      </div>
    </div>
    <div class="section2-content">
      <div class="section2-content_box">
        <div class="section2-content_box--space"></div>
        <p>Whether you’re stomping around outdoors or traversing the city, our Voyager Daypack was designed to be adaptable in all environments. Compact, lightweight and a comfortable for people of all sizes.this silhouette is versatile enough to fit just about anyone’s daily routine. </p>
        <div class="section2-content_box--icon"><img src="./assets/images/icon-scroll-down.png" alt=""/></div>
      </div>
    </div>
  </div>
</div>